
.clientButton {
  
  border: none;
  color: white;
  padding: 10px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 180px;
}

.greenC {
  background-color: #20c997;
}

.blueC {
	background-color: #0000FF; 	
}

.orangeC {
	background-color: #800000;
}

.yellowC {
	background-color: #F4D03F;
}

.clientButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.redC {
  background-color: #E74C3C;
}

.violetC {
  background-color: #7D3C98;
}

